.widgets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 23%;
  height: 90vh;
  border-top: 1px solid rgba(192, 191, 191, 0.5);
}

.btn {
  width: 120px;
  height: 43px;
  margin: 0 20px;
  border-radius: 16px;
}
