body {
  margin: 0 auto;
  padding: 0;
}

.app {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  color: #3c4043;
}

.width70 {
  width: 77%;
  height: 90vh;
}

.width100 {
  width: 100%;
  height: 90vh;
}
